.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.x, .o {
    height: 100%;
    width: 100%;
    position: relative;
}

.x:after{
    content: "\274c";
    position: absolute;
    color: white;
    font-size: 75px;
    top: -10px;
    left: 10px;
}

.o:after{
    content: "\2b55";
    position: absolute;
    color: white;
    font-size: 75px;
    top: -10px;
    left: 10px;
}

.winnerBackground {
    background-color: lightblue;
    transparent: 0.5;
}

